**pycache**
_.pyc
_.pyo
.git
.gitignore
.env
venv/
mlflow_env/
_.log
.DS_Store
.vscode/
.idea/
mlruns/
.dvc/cache
.pytest_cache
htmlcov/
.coverage
_.egg-info
dist/
build/
data/raw/_
data/interim/_
Notebooks/
Youtube_Sentiment_Extension/
tests/
\*.md
.github/
